*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(/img/capa.png), 
                url(/img/ruido.png),
                linear-gradient(50deg,#03A78F 10%,#088C75,#04573E,#04392F );
    background-attachment: fixed;
}

ul{
    list-style: none;
}

                /* Formatação NavBar */

#navbar-bg{
    background-color: rgba(0, 0, 0,0.6);
    padding: 15px 0px;
}

ul#item-Nav a{
    color: #fff;
    font-weight: bold;
}

ul#item-Nav a:hover{
    color:#1EC433;
    transition: 0.3s;
}

.divisor, .divisor-hr{
    color: rgb(255, 255, 255);
    margin: 9px 15px;
}

.navbar-dark .navbar-toggler{
    border: 1px solid rgb(224, 210, 210);
}

.navbar-dark .navbar-toggler:hover{
    border: 1px solid rgb(65, 141, 58);
    transition: 0.3s;
}

            /* Sessão principal */


#home h1, .carousel-home h1{
    font-weight: 700;
    color: #ffff;
    padding: 0px 0px 15px 0;
}

#home button{
    text-transform: uppercase;
    font-weight: 600;
    border-radius: .95em;
}

.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show > .btn-outline-light.dropdown-toggle{
    background-color:#821CF8;
    border-color: #821CF8;
    color: #fff;
}

.carousel-home button{
    background-color:#821CF8;
    border-color: #821CF8;
    color: #fff;
}

@media (max-width: 575.98px) {
    #container-top{
        padding: 0 10px;
    }

    #home h1{
        font-size: 2em;
        text-align: center;
        font-weight: 400;
    }

    #home button{
        margin-bottom: 5px;
    }

    #nacionalidade{
        margin-right: 50px;
    }

    .img-spotify-footer{
        width: 150px;
        margin-bottom: 15px;
    }

    .redes-footer ul li{
        display: inline-block;
    }

    .redes-footer ul li img{
        width: 45px;
        margin: 0 auto;
    }

    
}

@media (max-width: 767.98px) {
    #home h1{
        font-size: 4em;
    }
}

@media (max-width: 1000px){
    #divteste{
        padding-left:0;
    }   
}
/* Formatação sessão de Serviços */

.servicos{
    background-color: #fff;
    padding: 20px 0;
}

.servicos-albuns{
    padding: 10px 0;
}

.cor-title{
    color: #821CF8;
}

h2{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

                /**** Sessão de recursos ****/

#recursos{
    margin: 50px;
}

#recursos h2,h3{
    color: #99F1E3;
    padding: 10px;
}

#recursos p{
    color: rgba(255, 255, 255, 0.815);
    font-weight: 600;
}


#img-recursos{
    transform: rotate(35deg);
    margin-top: 95px;
}

 /* Rodapé */

#rodape{
    margin: 0;
    padding: 50px 0 0 0;
    background-color: #000;
}

#rodape ul li{
    padding: 10px;
} 

#rodape ul li  a {
    text-decoration: none;
    color: #fff;
}

#rodape ul li a:hover {
    color: #1EC433;
}

.title-li-footer{
    color:#919496;
    text-transform: uppercase;
}

#nacionalidade ul{
    margin: 0 !important;
}

#nacionalidade a{
    font-size: 0.8em;
    color: #919496;
    text-decoration: none;
}

#nacionalidade a:hover, #li-footer a:hover{
    color: #1EC433 !important;
}

#li-footer li{
    display: inline-block;
    color: #919496;
}

#li-footer a, #li-footer span{
    font-size: 0.8em;
    color: #919496 !important;
}